body {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 1.5;
  background-image: url("/static/image/background1.jpeg");
  background-size: cover;
  background-repeat: repeat-y;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

img{
  width: 200px;
  padding-left: 40%;
  padding-top: 10%;
}

h1{
	font-size: 40px;
	color: whitesmoke;
}

p{
  color: whitesmoke;
}
