<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
</head>
<body>
 <h1>Joel Rhoden</h1>
 <p>I am a 20 year old second year student at the University of the West Indies. 
    I am currently pursuing a major in Computer Science and a minor in Geography. 
    In the future, I would like to become a GIS Software Engineer or a Pilot. 
    Though a career in aviation does not exactly align with my current studies, 
    I still hope to branch off into the field in the near future as it is something I've always been passionate about. 
    My favourite sport is basketball and my other interests include photography, aviation, and graphic design.</p>
</body>
</html>